.con {
	display: flex;
	background-color: red;
}

.con .first {
	flex: 3;
	/* display: flex; */
	background-color: blue;
}

.con .first > div {
	flex: 1;
}

.con .second {
	flex: 7;
	/* display: flex; */
	background-color: yellow;
}

.con .second > div {
	flex: 1;
}